### general aliases
# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
# not compatible with fish
#alias ~="cd ~"

# ls
alias ls='ls -CF --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias lsa='la'
alias lla='ls -lA'

# using user aliases when sudoing (does not work for functions; only aliases)
alias sudo='sudo '

alias shutdown='sudo shutdown -h -P now'

### specific aliases
alias nload='nload venet0 -u M'

alias bak='backup'

# concat public and private .ssh/config (as ssh doesn't provide an include feature)
alias concat_ssh_config='cat ~/.ssh/config ~/.ssh/config_local | psub'
alias ssh='ssh -F (concat_ssh_config)'
alias scp='scp -F (concat_ssh_config)'

