# Create a new directory and enter it
function mkd
    mkdir -p $argv; and cd $argv
end

# quickly backup a file
function backup
    cp -bf --suffix=.bak.`date +%Y%m%d-%H%M%S` $argv $argv
end

function aptinst
    sudo apt-get install $argv
end

