.gitconfig_local
.vimrc_local
firefox/.user.js.bup
fish/completions/fisher.fish
fish/extra
fish/functions/__ssh_agent_is_started.fish
fish/functions/__ssh_agent_start.fish
fish/functions/fish_user_key_bindings.fish
fish/functions/fzf_key_bindings.fish
msdos/path-backup.txt
ssh_config_local
texmf/tex/latex
tmux/resurrect
vim/colors/
