[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
    path = fonts
    url = https://github.com/powerline/fonts.git
[submodule "tmux/plugins/tmux-resurrect"]
    path = tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "vim/bundle/auto-pairs"]
    path = vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/ctrlp.vim"]
    path = vim/bundle/ctrlp.vim
    url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pathogen.vim"]
    path = vim/bundle/pathogen.vim
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/promptline.vim"]
    path = vim/bundle/promptline.vim
    url = https://github.com/nagromc/promptline.vim.git
    branch = slices-git-status-color
[submodule "vim/bundle/tmuxline.vim"]
    path = vim/bundle/tmuxline.vim
    url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/bundle/vim-airline"]
    path = vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
    path = vim/bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-sensible"]
    path = vim/bundle/vim-sensible
    url = https://github.com/tpope/vim-sensible.git
[submodule "vim/colors/molokai"]
    path = vim/colors/molokai
    url = https://github.com/tomasr/molokai.git
