"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    autoIndent: true
    fontSize: 10
    invisibles:
      cr: "␍"
      space: "•"
      tab: "─"
    normalizeIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
  "exception-reporting":
    userId: "23ada2c0-fd77-9a33-be9f-827bf3a2849e"
  "file-icons":
    coloured: false
  linter:
    lintOnChange: false
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
