"*":
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndent: true
    fontSize: 10
    invisibles:
      cr: "␍"
      space: "•"
      tab: "─"
    normalizeIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
  file-icons:
      coloured: false
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
      "find-and-replace": true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
